<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mb-3">
      <%= form_with(model: @group, local: true) do |form| %>
        <!-- 上段のタグ選択 -->
        <div class="mb-3 d-flex justify-content-center">
          <div class="col-6 text-center"> <!-- 左側の選択 -->
            <label for="tagSelect1" class="form-label">タグを選択</label>
            <%= form.collection_select :tag_ids, Tag.all, :id, :tag_name, { include_blank: '指定しない', selected: @group.tag_ids[0] }, { class: "form-select", name: "group[tag_ids][]" } %>
          </div>
          <div class="col-6 text-center"> <!-- 右側の選択 -->
            <label for="tagSelect2" class="form-label">タグを選択</label>
            <%= form.collection_select :tag_ids, Tag.all, :id, :tag_name, { include_blank: '指定しない', selected: @group.tag_ids[1] }, { class: "form-select", name: "group[tag_ids][]" } %>
          </div>
        </div>

        <!-- 下段のタグ選択 -->
        <div class="mb-3 d-flex justify-content-center">
          <div class="col-6 text-center"> <!-- 左側の選択 -->
            <label for="tagSelect3" class="form-label">タグを選択</label>
            <%= form.collection_select :tag_ids, Tag.all, :id, :tag_name, { include_blank: '指定しない', selected: @group.tag_ids[2] }, { class: "form-select", name: "group[tag_ids][]" } %>
          </div>
          <div class="col-6 text-center"> <!-- 右側の選択 -->
            <label for="tagSelect4" class="form-label">タグを選択</label>
            <%= form.collection_select :tag_ids, Tag.all, :id, :tag_name, { include_blank: '指定しない', selected: @group.tag_ids[3] }, { class: "form-select", name: "group[tag_ids][]" } %>
          </div>
        </div>
        
        <!-- ゲームタイトル -->
        <div class="col-12 mb-3 text-center">
          <label for="Input" class="form-label">ゲームタイトル</label>
          <%= form.text_field :game_title, class: "form-control", placeholder: "ゲームタイトル" %>
        </div>

        <!-- テキスト入力 -->
        <div class="col-12 mb-3 text-center">
          <label for="exampleFormControlTextarea1" class="form-label">募集の概要</label>
          <%= form.text_area :introduction, class: "form-control", rows: 6 %>
        </div>

        <!-- ボタン -->
        <div class="col-12 text-center mt-3">
          <button class="btn btn-primary btn-block">ルームを更新する</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
