<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mb-3">
      <%= form_with(url: groups_path, method: "get") do |form| %>

        <!-- 上段のセレクトボックス -->
<div class="mb-3 d-flex justify-content-center">
  <div class="col-6 text-center">
    <div class="d-flex flex-column align-items-center">
      <label for="selectBox1" class="form-label">セレクトボックス1</label>
      <%= form.select 'tag_ids1[]', options_for_select(Tag.all.map { |tag| [tag.tag_name, tag.id] }, params[:tag_ids1]), include_blank: '指定しない', class: "form-select" %>
    </div>
  </div>
  <div class="col-6 text-center">
    <div class="d-flex flex-column align-items-center">
      <label for="selectBox2" class="form-label">セレクトボックス2</label>
      <%= form.select 'tag_ids2[]', options_for_select(Tag.all.map { |tag| [tag.tag_name, tag.id] }, params[:tag_ids2]), include_blank: '指定しない', class: "form-select" %>
    </div>
  </div>
</div>

<!-- 下段のセレクトボックス -->
<div class="mb-3 d-flex justify-content-center">
  <div class="col-6 text-center">
    <div class="d-flex flex-column align-items-center">
      <label for="selectBox3" class="form-label">セレクトボックス3</label>
      <%= form.select 'tag_ids3[]', options_for_select(Tag.all.map { |tag| [tag.tag_name, tag.id] }, params[:tag_ids3]), include_blank: '指定しない', class: "form-select" %>
    </div>
  </div>
  <div class="col-6 text-center">
    <div class="d-flex flex-column align-items-center">
      <label for="selectBox4" class "form-label">セレクトボックス4</label>
      <%= form.select 'tag_ids4[]', options_for_select(Tag.all.map { |tag| [tag.tag_name, tag.id] }, params[:tag_ids4]), include_blank: '指定しない', class: "form-select" %>
    </div>
  </div>
</div>


        <!-- ゲームタイトル -->
    <div class="col-12 mb-3 text-center">
      <label for="game_title" class="form-label">ゲームタイトル</label>
      <%= form.text_field :game_title, value: params[:game_title], name: 'game_title', class: "form-control", placeholder: "ゲームタイトル" %>
    </div>

        <!-- ボタン -->
        <div class="col-12 text-center mt-3">
          <%= form.submit '検索', class: 'btn btn-primary btn-block col-12 col-md-2' %>
        </div>
      </div>
    <% end %>

    <% @groups.each do |group| %>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              <%= group.game_title %>
            </div>
            <div class="card-body">
              <p class="card-title"><%= group.user.name %></p>
          <p>
            <% group.tags.each do |tag| %>
              <%= tag.tag_name %>
              <%= ',' unless tag == group.tags.last %>
               
               <% end %>
              <% unless @other_tags.empty? %>
              <%= @other_tags.map(&:tag_name).join(', ') %>
              <% end %>
          </p>
              <p class="card-text"><%= group.introduction %></p>
              <%= link_to "参加する", group_path(group), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
