<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mb-3">
      <!-- 検索フォームを表示 -->
      <%= render 'public/groups/search_form' %>
    </div>

    <% if @groups.present? %>
      <% @groups.each do |group| %>
        <div class="row d-flex justify-content-center mt-5">
          <div class="col-12 col-md-6">
            <div class="card mb-5">
              <div class="card-header">
                <!-- グループのゲームタイトルと参加ユーザーカウントを表示 -->
                <%= group.game_title %>
                <span class="user-count float-end" data-group-id="<%= group.id %>" data-display-type="detailed">参加ユーザー ( <%= group.users.count + 1 %> / <%= group.max_users %> )</span>
              </div>

              <div class="card-body">
                <p class="card-title">
                  <%= link_to user_path(group.owner) do %>
                    <% if group.owner.image.attached? %>
                      <!-- グループオーナーのプロフィールアイコンを表示 -->
                      <%= image_tag group.owner.get_profile_icon, class: 'card-img-top rounded-circle me-3', style: 'width: 40px; height: 40px;' %>
                    <% else %>
                      <!-- デフォルトのアイコンを表示 -->
                      <%= image_tag 'default_icon.png', class: 'card-img-top rounded-circle me-3', style: 'width: 40px; height: 40px;' %>
                    <% end %>
                  <% end %>
                  <%= link_to group.owner.name, user_path(group.owner) %>
                </p>

                <p>
                  <% group.tags.each do |tag| %>
                    <!-- グループのタグを表示 -->
                    <span class="badge bg-primary me-2"><%= tag.tag_name %></span>
                  <% end %>
                </p>
                <!-- グループの紹介文を表示 -->
                <p class="card-text"><%= group.introduction %></p>
                <% if current_user %>
                  <% if group.users.include?(current_user) %>
                    <!-- 参加している場合の表示 -->
                    <%= link_to "参加中のグループを見る", group_path(group), class: "btn btn-primary btn-sm" %>
                  <% else %>
                    <% if current_user.groups.any? && !group.users.include?(current_user) %>
                      <!-- 他のグループに参加中の場合の表示 -->
                      <p>他のグループに参加しています。</p>
                    <% else %>
                      <!-- 参加していない場合のボタン表示 -->
                      <%= link_to "このグループに参加する", join_group_path(group), class: "btn btn-primary btn-sm" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% elsif params[:tag_ids1].present? || params[:tag_ids2].present? || params[:tag_ids3].present? || params[:tag_ids4].present? || params[:game_title].present? %>
      <!-- 該当するグループがない場合のメッセージを表示 -->
      <h4 class="text-center mt-4">該当するグループがありません。</h4>
    <% end %>

  </div>
</div>
