<div class="container mt-5 d-flex justify-content-center">
  <div class="col-md-6">
    <!-- 募集の内容 -->
    <div class="card">
      <div class="card-body">
        <!-- 編集ボタン -->
    <% if @group.owner == current_user %>
      <%= link_to "グループを削除", group_path(@group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm float-end" %>
    <% elsif @group.users.include?(current_user) %>
      <%= link_to "退出する", leave_group_path(@group), method: :delete, class: "btn btn-primary btn-sm float-end" %>
    <% end %>
        <% @tags.each do |tag| %>
          <span class="badge bg-primary me-2"><%= tag.tag_name %></span>
        <% end %>
        <h5 class="card-title"><%= @group.game_title %></h5>
        <p class="card-text"><%= @group.introduction %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <!-- チャット欄 -->
      <div class="card mt-3">
        <div class="card-header">
          チャット
        </div>
        <div class="card-body">
          <div id="messages">
            <%= render @group.messages %>
          </div>
        </div>

        <div class="card-footer">
          <%= form_with model: [@group, Message.new], url: group_messages_path(@group), local: false, data: { remote: true } do |f| %>
            <div class="mb-3">
              <%= f.text_area :content, id: "myInput", class: "form-control" %>
            </div>
            <%= f.submit "送信", class: "btn btn-primary" %>
          <% end %>
        </div>
<div id="group-data" data-group-id="<%= @group.id %>"></div>

      </div>
    </div>

    <div class="col-md-12 col-lg-4 mt-3">
      <!-- 参加しているユーザー欄 -->
      <div class="card">
        <div class="card-header">
          参加ユーザー
          <span class="float-end">
            グループホスト: <%= @group.owner.name %>
          </span>
        </div>
        <ul class="list-group list-group-flush">
          <% @group.users.each do |user| %>
            <li class="list-group-item"><%= user.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
