<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="display-6 text-center mb-4">登録ユーザー</h1>

      <!-- 検索フォーム -->
      <%= form_with url: search_users_admin_users_path, method: :get, id: "search-form", class: "mb-5" do |f| %>
        <div class="input-group">
          <%= f.text_field :search, id: "user-name-field", class: "form-control", placeholder: "ユーザー名を検索" %>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
        <div id="user-name-suggest-results" class="list-group"></div>
      <% end %>

      <!-- ユーザーリスト表示 -->
      <% if @users.any? %>
        <ul class="list-group">
          <% @users.each do |user| %>
            <li class="list-group-item">
              <%= link_to user.name, admin_user_path(user) %>
            </li>
          <% end %>
        </ul>

        <!-- ページネーション -->
          <div class="pagination justify-content-center mt-3">
            <%= render "layouts/pagy" %>
          </div>

      <% else %>
        <div class="text-center">
          <% if params[:search].present? %>
            <h4>一致するユーザーはいません</h4>
          <% else %>
            <h4>登録ユーザーはいません</h4>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>