<div class="container mt-5">
  <div class="row">
    <!-- ユーザー情報のセクション -->
    <div class="col-lg-6 col-md-12">
      <h1>ユーザー情報</h1>

      <!-- メールアドレスの表示 -->
      <div class="mb-3">
        <strong>メールアドレス:</strong>
        <span><%= @user.email %></span>
      </div>

      <!-- 名前の表示 -->
      <div class="mb-3">
        <strong>名前:</strong>
        <span><%= @user.name %></span>
      </div>

      <!-- アクティブステータスのラジオボタン -->
      <%= form_with(model: @user, url: admin_user_path(@user), method: :patch, class: "mt-4") do |form| %>
        <div class="mb-3">
          <!-- 現在のステータス表示 -->
          <p>現在のステータス: <span style="color: <%= @user.is_active ? 'green' : 'red' %>;"><%= @user.is_active ? '有効' : '無効' %></span></p>

          <!-- 有効ステータスのラジオボタン -->
          <div class="form-check form-check-inline">
            <%= form.radio_button :is_active, true, id: "is_active_true", class: "form-check-input", checked: @user.is_active %>
            <%= form.label :is_active_true, '有効', for: "is_active_true", class: "form-check-label" %>
          </div>

          <!-- 無効ステータスのラジオボタン -->
          <div class="form-check form-check-inline">
            <%= form.radio_button :is_active, false, id: "is_active_false", class: "form-check-input", checked: !@user.is_active %>
            <%= form.label :is_active_false, '無効', for: "is_active_false", class: "form-check-label" %>
          </div>

          <%= form.submit '更新', class: "btn btn-primary col-2" %>
        </div>
      <% end %>
    </div>

    <!-- メッセージ履歴のセクション -->
    <div class="col-lg-6 col-md-12 mt-5 mt-md-0">
      <h2>メッセージ履歴</h2>

      <!-- メッセージ検索フォーム -->
      <%= form_with url: search_messages_admin_user_path(@user), method: :get, id: "message-search-form", class: "mb-4" do |f| %>
        <div class="input-group">
          <%= f.text_field :search, placeholder: "メッセージを検索", id: "message-search-field", class: "form-control" %>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
        <div id="message-suggest-results" class="list-group"></div>
      <% end %>


      <!-- メッセージリスト -->
      <div class="list-group">
        <% if @messages.empty? %>
          <div class="list-group-item">メッセージはありません</div>
        <% else %>
          <% @messages.each do |message| %>
            <div class="list-group-item">
              <%= message.content %>
              <small class="text-muted">
                <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </small>
            </div>
          <% end %>
        <% end %>
      </div>
      
        <!-- ページネーション -->
        <div class="pagination justify-content-center">
          <%= render "layouts/pagy" %>
        </div>
      
    </div>
  </div>
</div>
