<%= form_with(model: user, id: 'user-edit-form', remote: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, 'ユーザー名', for: 'user-name-input', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', id: 'user-name-input' %>
  </div>

  <div class="mb-3">
    <%= form.label :introduction, '自己紹介', for: 'user-introduction-input', class: 'form-label' %>
    <%= form.text_area :introduction, rows: 6, class: 'form-control', id: 'user-introduction-input', style: 'min-height: 150px;' %>
  </div>

  <%= form.submit "ユーザー情報更新", class: 'btn btn-success' %>
<% end %>
