<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <div class="d-flex align-items-center">

      <!-- ナビゲーションバーのトグルボタン -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-toggler-icon-custom"></span>
      </button>

      <!-- ロゴの表示 -->
      <a class="navbar-brand" href="/">
        <%= image_tag "MatchPlay.jpg", width: '100px', class: "img-fluid" %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!-- 管理者がサインインしている場合のメニュー -->
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ユーザー一覧', admin_users_path, class: 'btn btn-dark me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザーアイコン登録', new_admin_icon_path, class: 'btn btn-dark me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザーアイコン一覧', admin_icons_path, class: 'btn btn-dark me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :get, class: 'btn btn-dark me-2' %>
          </li>


        <!-- ユーザーがサインインしている場合のメニュー -->
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user.id), class: 'btn btn-dark me-2' %>
          </li>
          <li class="nav-item">
            <% if current_user.owned_groups.any? %>
              <% owned_group = current_user.owned_groups.first %>
              <%= link_to 'グループ編集', edit_group_path(owned_group), class: 'btn btn-dark me-1' %>
              <%= link_to 'グループ詳細', group_path(owned_group), class: 'btn btn-dark me-2' %>
            <% elsif current_user.groups.any? %>
              <% joined_group = current_user.groups.first %>
              <%= link_to '募集を探す', groups_path, class: 'btn btn-dark me-2' %>
              <%= link_to '参加中のグループ', group_path(joined_group), class: 'btn btn-dark me-2' %>
            <% else %>
              <%= link_to '募集を探す', groups_path, class: 'btn btn-dark me-1' %>
              <%= link_to '募集する', new_group_path, class: 'btn btn-dark me-2' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :get, class: 'btn btn-dark me-2' %>
          </li>

        <!-- サインインしていない場合のメニュー -->
        <% else %>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-dark me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-dark me-5' %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- 通知エリアをレンダリング -->
    <%= render "layouts/notification" %>
  </div>
</nav>
